//en pug no utilizamos los caracteres <>, solo el nombre de la etiqueta
doctype html 

html(lang="es")

head 
    title #{titulo}

body 
    h1 
        a(href="/tienda.html") Bienvenido a mi tienda 

    div 
        p #{textoParrafo}
        
    h2  Hola h2

    ul 
        li lista 1
        li lista 2 
