doctype html 
html(lang="es")
    head
        title Detalles
    body 
        h1
            a(href="#") Comprar camiseta color #{color}

        div 
            h2 Vista previa 
            img(src= datos.imagen, alt="camiseta") 