//en pug no utilizamos los caracteres <>, solo el nombre de la etiqueta
doctype html 

html(lang="es")

head 
    title Este es el nombre de mi app 

body 
    h1 
        a(href="www.google.com") Bienvenido a mi tienda 

    div 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quis quasi tempora possimus aperiam at labore fugit corrupti? Molestias pariatur facilis consequatur officia modi perferendis, suscipit aspernatur! Neque, ipsam a.

    h2  Hola h2

    ul 
        li lista 1
        li lista 2 
